# Environment
.env
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
surplus_food/db.sqlite3
surplus_food/media/
surplus_food/staticfiles/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
